html {
  font-size: $font-size-root;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  overflow-x: hidden !important;
}

img {
  object-fit: cover;
  user-select: none;
}

.center {
  text-align: center;
}

button {
  cursor: pointer;
}

::selection {
  color: $white-clr;
  background-color: darken($secondary-clr, 20%);
}

/* scrollbar */
::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  @include box-shadow(inset 0, 0, 0.5rem, #8080803b);
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-clr;
}
