html {
  font-size: $font-size-root;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  overflow-x: hidden !important;
}

img {
  object-fit: cover;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.center {
  text-align: center;
}

button {
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button:active {
  transform: scale(0.95);
}

::selection {
  color: $white-clr;
  background-color: darken($secondary-clr, 20%);
}

/* scrollbar */
::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  @include box-shadow(inset $size-reset $size-reset $size-half $scrollbar-clr);
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-clr;
}
